<div class="container">
  <div class="row">
    <div class="form-group col-md-4"></div>

    <div class="form-group col-md-4">
      <h1> Gamertag Profile </h1>

      <p> <br> 
        Gamer Tag: <%= @gamertag.name %> <br>
        Platform: <%= @gamertag.platform %> <br>
        Server: <%= @gamertag.server %> <br>
        Games n Details: <%= @gamertag.game %> <br>
      </p>
      <% if current_user == nil %>
        <% elsif current_user.id == @gamertag.user_id %>
          <%= link_to "Edit gamertag", edit_gamertag_path %>
      <% end %>

      <br>
      <%= link_to "Back", :back %> <br>

    </div>
    <div class="form-group col-md-4"></div>
  </div>
</div>