<div class="container">
	<div class="row">
		<div class="form-group col-md-4"></div>

		<div class="form-group col-md-4">
    	<h1> User Profile Edit </h1>
      
	  	<%= form_for @user do |f| %>
	    	<h5>First Name:</h5> <%= f.text_field :first_name, :class => "form-control" %><br>
	    	<h5>Last Name:</h5> <%= f.text_field :last_name, :class => "form-control" %><br>
	    	<h5>Email:</h5> <%= f.text_field :email, :class => "form-control" %><br>
	    	<h5>Zipcode:</h5> <%= f.text_field :zipcode, :class => "form-control" %><br>
	    
	    <%= link_to "Cancel", gamertags_path,  :class => "btn btn-primary" %>
	    <%= f.submit "Edit User", :class => "btn btn-primary" %> <br>
	    <% end %>
	    <%= link_to "Delete", delete_user_path(@user), :method => :delete %>
	    <%= link_to "Back", users_path %> <br>
	
		</div>

		<div class="form-group col-md-4"></div>
	</div>
</div>

    



