<h1> Edit User Profile </h1>

  <%= form_for @user do |f| %>
    First Name: <%= f.text_field :first %>
    Last Name: <%= f.text_field :last %>
    Email: <%= f.text_field :email %>
    Zipcode: <%= f.text_field :zipcode %>
    Password: <%= f.password_field :password %>
    Repeat Password: <%= f.password_field :password_confirmation %>

    <%= f.submit "Edit User" %>
    
  <% end %>

  <%= link_to "Back", users_path %> <br>
  