<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>User List</h1>
    <%= link_to "Gamer Tags", gamertags_path %>

    <table class="table table-striped">
      <caption></caption>
      <thead>
        <tr>
          
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Zipcode</th>
          <th>User Profile</th>

        </tr>
      </thead>
      <tbody>
      	<% @users.each do |u| %>
        <tr>
          
          <td><%= link_to u.first_name, user_path(u) %></td>
          <td><%= u.last_name %></td>
          <td><%= u.email %></td>
          <td><%= u.zipcode %></td>

            <% @photos.each do |p| %>
                <% if p.user_id == u.id %>
                  <td><%= image_tag p.image.url(:thumbnail) %></td>
                <% end%>
            <% end%>
          
        </tr>
        <% end %>
        
      </tbody>
    </table>

    <ul class="pagination">
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
    </ul>

  </div>
  <div class="col-md-1"></div>
</div>