<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1>User List</h1>
    <%= link_to "Gamer Tags", gamertags_path %>

    <table class="table table-striped">
      <caption>Admin Edit Table</caption>
      <thead>
        <tr>
          
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Zipcode</th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>
      	<% @users.each do |b| %>
        <tr>
          
          <td><%= link_to b.first_name, user_path(b) %></td>
          <td><%= b.last_name %></td>
          <td><%= b.email %></td>
          <td><%= b.zipcode %></td>
          <td><%= link_to "Edit", edit_user_path(b) %></td>
          <td><%= link_to "Details", user_path(b) %></td>
          <td><%= link_to "Delete", delete_user_path(b), :method => :delete %></td>

        </tr>
        <% end %>
        
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>