<div class="container">
  <div class="row">
    <div class="form-group col-md-4"></div>

    <div class="form-group col-md-4">
    <h1> Sign Up Page </h1>

      <%= form_for @user do |f| %>
        First Name: <%= f.text_field :first_name, placeholder: "First Name", :class => "form-control" %>
        Last Name: <%= f.text_field :last_name, placeholder: "Last Name", :class => "form-control" %>
        Email: <%= f.text_field :email, placeholder: "email", :class => "form-control" %>
        Zipcode: <%= f.text_field :zipcode, placeholder: "zipcode", :class => "form-control" %>
        Password: <%= f.password_field :password, placeholder: "password", :class => "form-control" %>
        Repeat Password: <%= f.password_field :password_confirmation, placeholder: "password", :class => "form-control" %>

        <%= link_to "Cancel", gamertags_path, :class => "btn btn-primary" %>
        <%= f.submit "Sign Up", :class => "btn btn-primary"  %>

      <% end %>

      <%= link_to "User List", users_path %>
    </div>

    <div class="form-group col-md-4"></div>
  </div>
</div>

