<h1> show </h1>

  <p> <br> 
    email address: <%= @user.email %> <br>
    Name: <%= @user.first_name %> <%= @user.last_name %> <br>
    Zipcode: <%= @user.zipcode %> <br>
    </p>
  <%= link_to "Edit User", edit_user_path %> <br>
  <%= link_to "Back", users_path %> <br>
  <%= link_to "Delete", delete_user_path(@user), :method => :delete %>