<div class="container">
  <div class="row">
    <div class="form-group col-md-3"></div>

    <div class="form-group col-md-5">
      <h1> Profile, <%= @user.first_name %> <%= @user.last_name %></h1>

      <% @user.photos.each do |p| %>
        <%= image_tag p.image.url(:medium) %><br>
      <% end %>
       
      <p> <br> 
        email address: <%= @user.email %> <br>
        Name: <%= @user.first_name %> <%= @user.last_name %> <br>
        Zipcode: <%= @user.zipcode %> <br>
        </p>

      <% if current_user == nil %>
        <% elsif current_user.id == @user.id %>
          <h4><%= link_to " Add Gamer Tag", gamertags_new_path %></h4>
          <h4><%= link_to "Upload Photo", new_photos_path%></h4> <br>
          <%= link_to "Edit", edit_user_path(@user) %> <br>
          <%= link_to "Delete", delete_user_path(@user), :method => :delete %>
      <% end %><br>

      <%= link_to "Back", :back %> <br>
    </div>
    <div class="form-group col-md-3">
      <table class="table table-striped">
        <caption>Gamer Tag Database</caption>
        <thead>
          <tr>

            <th> Gamer Tags</th>
          </tr>
        </thead>
        <tbody>

            <tr>
              <% @user.gamertags.each do |u|%>
                
                  <td><%= link_to u.name, gamertag_path(u)%></td>

            </tr>
              <% end%>
          
        </tbody>
      </table>
    </div>

    <div class="form-group col-md-1"></div>
  </div>
</div>






  
