<!DOCTYPE html>
<html>
<head>
  <title>Gamerid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  
  <%= csrf_meta_tags %>
  <!-- adds jquery for twitter bootstrap -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- for glyphicon -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header navbar-brand" >
        <%= link_to image_tag("rainbow50px.jpg"), gamertags_path, method: :get %>
      </div>
      <div class="navbar-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Gamer Tags", gamertags_path %></li>
            <li><%= link_to "Users", users_path %></li>
            <!-- <li><%= link_to "Link", gamertags_path %></li> -->
          </ul>

          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Submit</button>
          </form> -->

        </div>
      </div>
      


      <div class="navbar-text navbar-right">
        <% if current_user %>
          Welcome <%= link_to current_user.email, user_path(current_user) %>
          <%= link_to "Logout", sessions_path, method: :delete, :class => "btn btn-primary btn-xs"  %>
          <!-- buttons always do POST, Links always do Get by default  -->
        <% else %>
          <%= link_to "Login", new_sessions_path, method: :get, :class => "btn btn-primary btn-xs"  if !@is_login %>
          <%= link_to "Sign Up", new_user_path, method: :get, :class => "btn btn-primary btn-xs"  if !@is_login %>
        <% end %>
      </div>
    </div>
  </nav>


<%= yield %>


</body>
</html>




