<!DOCTYPE html>
<html>
<head>
  <title>Gamerid</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <!-- adds jquery for twitter bootstrap -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- for glyphicon -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header navbar-brand" >
      <%= link_to image_tag("rainbow50px.jpg"), users_path, method: :get %> 
    </div>

    <p class="navbar-text navbar-right">
      <% if current_user %>
        Welcome <%= current_user.email %>
        <%= link_to "Logout", sessions_path, method: :delete, :class => "btn btn-primary btn-xs"  %>
        <!-- buttons always do POST, Links always do Get by default  -->
      <% else %>
        <%= link_to "Login", new_sessions_path, method: :get, :class => "btn btn-primary btn-xs"  if !@is_login %>
        <%= link_to "Sign Up", new_user_path, method: :get, :class => "btn btn-primary btn-xs"  if !@is_login %>
      <% end %>
    </p>
  </div>
</nav>


<%= yield %>


</body>
</html>


