<!DOCTYPE html>
<html>
<head>
  <title>Gamerid</title>
  
  <%= csrf_meta_tags %>
  <!-- adds jquery for twitter bootstrap -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- for glyphicon -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
</head>
<body>
	<% if current_user %>
      Welcome!!!!! :) <%= current_user.email %>
      <%= button_to "Logout", sessions_path, method: :delete %>
   <!-- buttons always do POST, Links always do Get by default  -->
    <% else %>
      <%= button_to "Login", new_sessions_path, method: :get %>
  <% end %>



<%= yield %>

</body>
</html>
